.container{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.card{
    background-color: goldenrod;
    margin: 0px 40px 0px 40px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.2;
    animation: ease-in;
}

.card:hover{
    transform:scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}
.span1{
    font-size: medium;
}
ul{
    text-align: left; 
    font-weight: 500;
}
.listItem1{
    color: rgb(73, 71, 71);

}
h1{
    
    margin-top: -20px;
}